.ol {
    list-style-type: decimal-leading-zero;
}

.container {
    background-color: rgb(10, 45, 81);
    display: flex;
}

.border {

    border: 12px double blue;
}

.sec1,
.sec2 {
    flex: 1;
}